node_modules/
dist/
/.env
.env.local
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.DS_Store
.vscode/
.idea/
public/models/
/*.tgz
/*.log
# Ignore editor/extension snapshot/history backups
.history/

# Ignore local diagnostic artifacts created by tools/
tools/console-output/
tools/bundle*.js
gh-pages-clean/
